<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="index">
<head>
<meta charset="UTF-8"/>
<title>list user</title>
</head>

<div layout:fragment="content">
	<h2 th:text="${username}"></h2>
	<h2 th:text="#{page.user.list}"></h2>
	<table border="1">
	  <thead>
	    <tr>
	      <th th:text="#{label.user.id}"></th>
	      <th th:text="#{label.user.name}"></th>
	      <th th:text="#{label.user.username}"></th>
	      <th th:text="#{label.user.password}"></th>
	      <th th:text="#{label.user.gender}"></th>
	      <th th:text="#{label.user.role}"></th>
	      <th th:text="#{label.user.access}">
	      <th th:text="#{label.action}"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	 	<tr th:each="user: ${users}">
	       <td th:text="${user.id }"></td>
	       <td th:text="${user.name }"></td>
	       <td th:text="${user.username }"></td>
	       <td th:text="${user.password }"></td>
	       <td>
	       		<span th:if="${user.gender == 'male'}" th:text="#{label.user.gender.male}"></span>
	       		<span th:if="${user.gender == 'female'}" th:text="#{label.user.gender.female}"></span>
	       </td>
	       <td th:switch="${user.role}">
				<span th:case="ROLE_ADMIN" th:text="#{label.user.role.admin}"></span>
				<span th:case="ROLE_MEMBER" th:text="#{label.user.role.member}"></span>
				<span th:case="UNKOWN" th:text="#{label.user.role.unknown}"></span>
	       </td>
	       <td>
	       		<span th:if="${user.access == 1}" th:text="#{label.user.access.enable}"></span>
				<span th:unless="${user.access == 1}" th:text="#{label.user.access.disable}"></span>
	       </td>
	       <td>
	           <a th:href="@{view?id=__${user.id}__}" th:text="#{label.action.view}"></a>
	           <a th:href="@{edit?id=__${user.id}__}" th:text="#{label.action.edit}"></a>
	           <a th:href="@{delete?id=__${user.id}__}" th:text="#{label.action.delete}"></a>
	       </td>
	     </tr>
	  </tbody>
	</table>
</div>

</html>