<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title layout:title-parttern="$LAYOUT_TITLE - $CONTENT_TITLE">welcome</title>
<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<div th:replace="header :: header"></div>

<div th:replace="menu :: menu"></div>

<div layout:fragment="content"></div>

<div th:replace="footer :: footer"></div>
</body>
</html>